.header
			{
				 background-color: #3B5999;
				color:#F6F7FB;
			}
			.col-md-6
			{
				background-color: #FFFFFF;

				
					

			}
			.body1
			{
				background-color: #EFF0F1;
			}
			.body3
			{
				background-color: #EFF0F1;
			}